{% extends "base.html" %}
{% load static %}
{% block title %}Mes Projets{% endblock %}
{% block content %}
<div id="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h3 class="page-title">Projets</h3>
        <ul class="breadcrumb">
          <li><a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span></li>
          <li><a href="#">Mes Projets</a><span class="divider-last">&nbsp;</span></li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
            <div class="widget-title"><h4><i class="icon-globe"></i>{{module.name}}</h4></div>
            <div class="widget-body">
                <div class="row-fluid metro-overview-cont">
                  <div data-desktop="span2" data-tablet="span4" class="span2 responsive">
                    <div class="metro-overview turquoise-color clearfix">
                      <div class="display"><i class="icon-group"></i><div class="percent">{{place}} / {{module.place_available}}</div></div>
                      <div class="details">
                         <div class="numbers">Inscription : Ouverte</div>
                         <div class="title">{%if inscrit == "True"%}<a href="" class="btn btn-danger" >Se Désinscire</a> {%else %} <a href="" class="btn btn-success">S'inscire </a>{%endif%}</div>
                      </div>
                      <div class="progress progress-info">
                        <div style="width:{{pourcentage}}%" class="bar"></div>
                      </div>
                    </div>
                 </div>
               </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <div class="widget widget-tabs">
           <div class="widget-title">
              <h4><i class="icon-reorder"></i>Tabs</h4>
           </div>
           <div class="widget-body">
              <div class="tabbable portlet-tabs">
                 <ul class="nav nav-tabs">
                    <li><a href="#portlet_tab3" data-toggle="tab">Tab 3</a></li>
                    <li><a href="#portlet_tab2" data-toggle="tab">Tab 2</a></li>
                    <li class="active"><a href="#portlet_tab1" data-toggle="tab">Tab 1</a></li>
                 </ul>
                 <div class="tab-content">
                    <div class="tab-pane active" id="portlet_tab1">
                       <p>
                          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                           Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                       </p>
                       <p>
                          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  sed diam nonummy nibh euismod.
                       </p>
                    </div>
                    <div class="tab-pane" id="portlet_tab2">
                       <p>
                          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.  
                       </p>
                       <p>
                          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                       </p>
                    </div>
                    <div class="tab-pane" id="portlet_tab3">
                       <p>
                          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.   
                       </p>
                       <p>
                          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                       </p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <div class="span6">
        <div class="widget">
          <div class="widget-title"><h4><i class="icon-globe"></i>Non Inscrit</h4>
            <span class="tools">
              <a href="javascript:;" class="icon-chevron-down"></a>
              <a href="javascript:;" class="icon-remove"></a>
            </span>                    
          </div>
          <div class="widget-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Projet</th>
                  <th>Debut/fin inscription</th>
                  <th>debut/Fin module</th>
                  <th>Actions</th>
                  <th>Details</th>
                </tr>
              </thead>
              {% for project in project_non_inscrit%}
              <tbody>
                <tr>
                  <td width="30%">{{project.name}}</td>
                  <td width="20%">{{project.start_signup}} <br/> {{project.end_signup}}</td>
                  <td width="20%">{{project.start_module}} <br/> {{project.end_module}}</td>

              </tbody>
              {%endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
