{% load staticfiles %}
<link rel="stylesheet" href="{% static "v1/assets/bootstrap/css/bootstrap.min.css" %}"/>
<link rel="stylesheet" href="{% static "v1/assets/bootstrap/css/bootstrap-responsive.min.css" %}"/>
<link rel="stylesheet" href="{% static "v1/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet"  %}"/>
<link rel="stylesheet" href="{% static "v1/assets/font-awesome/css/font-awesome.css" %}"/>
<link rel="stylesheet" href="{% static "v1/css/style.css" %}"/>
<link rel="stylesheet" href="{% static "v1/css/style_responsive.css" %}"/>
<link rel="stylesheet" href="{% static "v1/css/style_gray.css" id="style_color" %}">
<link rel="stylesheet" href="{% static "v1/assets/fancybox/source/jquery.fancybox.css" %}"/>
<link rel="stylesheet" href="{% static "v1/assets/uniform/css/uniform.default.css" %}" />
<link rel="stylesheet" href="{% static "v1/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" %}" />
<link rel="stylesheet" href="{% static "v1/assets/jqvmap/jqvmap/jqvmap.css" %}" type="text/css" media="screen"/>
<link rel="stylesheet" href="{% static "v1/assets/chosen-bootstrap/chosen/chosen.css" %}" />

