{% load staticfiles %}
<script src="{% static "v1/js/jquery-1.8.3.min.js"%}"></script>
<script src="{% static "v1/assets/bootstrap/js/bootstrap.min.js"%}"></script>
<script src="{% static "v1/js/jquery.blockui.js"%}"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="{% static "v1/js/excanvas.js"%}"></script>
<script src="{% static "v1/js/respond.js"%}"></script>
<![endif]-->
<script type="text/javascript" src="{% static "v1/assets/chosen-bootstrap/chosen/chosen.jquery.min.js"%}"></script>
<script type="text/javascript" src="{% static "v1/assets/uniform/jquery.uniform.min.js"%}"></script>
<script src="{% static "v1/js/scripts.js"%}"></script>
<script>
   jQuery(document).ready(function() {       
   App.init();
   });
</script>
 