<div id="sidebar" class="nav-collapse collapse">
  <div class="sidebar-toggler hidden-phone"></div>
  <div class="navbar-inverse">
    <form class="navbar-search visible-phone">
      <input type="text" class="search-query" placeholder="Search" />
    </form>
  </div>
  <ul class="sidebar-menu">
    <li class="has-sub active"><a class="" href="/user/dashboard"><span class="icon-box"><i class="icon-dashboard"></i></span> Dashboard</a></li>
    <li class="has-sub"><a class="" href="/projects"><span class="icon-box"><i class="icon-pencil"></i></span> Mes Projets</a></li>
    <li class="has-sub"><a class="" href="/news"><span class="icon-box"><i class="icon-file-alt"></i></span>News</a></li>
    <li class="has-sub"><a class="" href="/calendar"><span class="icon-box"><i class="icon-calendar"></i></span> Calendrier</a></li>
    <li class="has-sub"><a class="" href="/user/dashboard"><span class="icon-box"><i class="icon-book"></i></span> E-Learning</a></li>
    <li class="has-sub"><a class="" href="/forum"><span class="icon-box"><i class="icon-comment"></i></span> Forum</a></li>
    <li class="has-sub"><a class="" href="/contact"><span class="icon-box"><i class="icon-envelope"></i></span>Contact</a></li>
    <li class="has-sub"><a class="" href="/ticket"><span class="icon-box"><i class="icon-file-alt"></i></span>Ticket</a></li>
    </ul>
</div>
